@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gaegu&family=Lobster&family=Roboto+Condensed:wght@400;700&family=Inter&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;

}

body {
    /* background-image: url("/client/assets/bg-poly3.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.linear-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0));
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
}

#nav-left-buttons {
    display: flex;
    justify-items: flex-start;
    width: 40%;
    height: 100%;
    /* background-color: #ddaadd; */
}

#nav-center {
    display: flex;
    justify-items: center;
    width: 20%;
    height: 100%;
    /* background-color: #99aa55; */
}

#nav-right-buttons {
    display: flex;
    justify-items: flex-end;
    width: 40%;
    height: 100%;
    flex-direction: row-reverse;
    /* background-color: #763d76; */
}

#title {
    margin: 0;
    color: #fff;
    font-size: 1.35rem;
    font-weight: bold;
}

.nav-button {
    display: flex;
}

main {
    width: 100%;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-icon {
    width: 25px;
    height: 100%;
    /* object-fit: cover; */
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image .3s;
    margin: 0 16px;
}

.dropdown-item {
    display: flex;
    /* align-content: flex-start; */
    width: 100px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: background-color .4s;
}

.dropdown-hover:visited {
    color: #fff;
}

.dropdown-icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
    /* background-size: cover; */
    /* transition: background-image .3s; */
    margin: 0 16px;
}

.dropdown-bar {
    display: flex;
    position: absolute;
    height: 70px;
    width: 96%;
    z-index: 1;
    flex-direction: row;
    padding: 0 2%;
}

#home-icon {
    margin-left: 5%;
    background: url('../assets/home-sprite.png') 0px 0px no-repeat;
    background-size: 25px 50px;
    width: 25px;
    height: 25px;
    position: relative;
}

#home-icon::after {
    content: "";
    background: url('../assets/home-sprite.png') 0px -25px no-repeat;
    background-size: 25px 50px;
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#home-icon:hover::after {
    opacity: 1;
    transition: opacity 0.4s;
}

#subject-icon {
    background: url('../assets/subjects-sprite.png') 0px 0px no-repeat;
    background-size: 25px 50px;
    width: 25px;
    height: 25px;
    position: relative;
}

#subject-icon::after {
    content: "";
    background: url('../assets/subjects-sprite.png') 0px -25px no-repeat;
    background-size: 25px 50px;
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#subject-icon:hover::after {
    opacity: 1;
    transition: opacity 0.4s;
}

#about-icon {
    background: url('../assets/about-sprite.png') 0px 0px no-repeat;
    background-size: 25px 50px;
    width: 25px;
    height: 25px;
    position: relative;
}

#about-icon::after {
    content: "";
    background: url('../assets/about-sprite.png') 0px -25px no-repeat;
    background-size: 25px 50px;
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#about-icon:hover::after {
    opacity: 1;
    transition: opacity 0.4s;
}

#account-icon {
    margin-right: 5%;
    background: url('../assets/account-sprite.png') 0px 0px no-repeat;
    background-size: 25px 50px;
    width: 25px;
    height: 25px;
    position: relative;
}

#account-icon::after {
    content: "";
    background: url('../assets/account-sprite.png') 0px -25px no-repeat;
    background-size: 25px 50px;
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#account-icon:hover::after {
    opacity: 1;
    transition: opacity 0.4s;
}

.default-bg {
    /* background-color: #e09840; */
    background-color: #FFA500;
}

.default-text {
    color: #FFA500;
}

.default-border {
    border-color: #FFA500;
}

.default-dropdown-bg {
    background-color: #d88d00;
}

.default-dropdown-item:hover {
    background-color: #c07d00;
    /* color: #ededed; */
}

.default-scroll::-webkit-scrollbar-thumb {
    background-color:#FFA500;
    /* border-radius: 5px; */
  }
  
  .default-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #d18800;
  }
  
  .default-scroll::-webkit-scrollbar-button:single-button {
    background-color: #404040;
    display: block;
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
  }

.geography-scroll::-webkit-scrollbar {
    width: 15px;
    
}

.geography-scroll::-webkit-scrollbar-track {
    background: #E7E7E7;
    border-radius: 5px;
}
   

.geography-scroll::-webkit-scrollbar-thumb {
    background: #A0D26F;
    border-radius: 5px;
}
  

.geography-scroll::-webkit-scrollbar-thumb:hover {
    background: #89b35f; 
}

.geography-text {
    color: #A0D26F;
}

.geography-bg {
    background-color: #A0D26F;
}

.geography-dropdown-bg {
    background-color: #97c46b;
}

.geography-item {
    display: flex;
    height: 60px;
    width: calc(100% - 6px);
    border: solid 3px #A0D26F;
    border-radius: 10px;
    font-size: 1.0rem;
    color: #000;
    transition: background-color .5s;
}

.geography-dropdown-item {
    background-color: #97c46b;
    /* color: #ededed; */
}

.geography-dropdown-item:hover {
    background-color: #89b35f; 
    /* color: #ededed; */
}

/* .geography-item:hover {
    background-color: #ededed;
} */

.geography-nav-icon {
    background-color: #A0D26F;
}

.geography-button {
    background-color: #A0D26F;
}

.geography-button:hover {
    background-color: #97c46b
}

.history-scroll::-webkit-scrollbar {
    width: 15px;
    
}

.history-scroll::-webkit-scrollbar-track {
    background: #E7E7E7;
    border-radius: 5px;
}
   

.history-scroll::-webkit-scrollbar-thumb {
    background: #8e0e1e;
    border-radius: 5px;
}
  

.history-scroll::-webkit-scrollbar-thumb:hover {
    background: #ba061b; 
}

.history-bg {
    background-color: #8e0e1e;
}

.history-dropdown-bg {
    background-color: #860f1d;
}

.history-item {
    display: flex;
    height: 60px;
    width: calc(100% - 6px);
    border: solid 3px #8e0e1e;
    border-radius: 10px;
    font-size: 1.0rem;
    color: #000;
    transition: background-color .5s;
}

.history-dropdown-item {
    background-color: #820e1c;
    /* color: #ededed; */
}

.history-dropdown-item:hover {
    background-color: #690d17; 
    /* color: #ededed; */
}

.history-button {
    background-color: #8e0e1e;
}

.history-button:hover {
    background-color: #b63445;
}

.history-text {
    color: #8e0e1e;
}

/* .geography-item:hover {
    background-color: #ededed;
} */

.history-nav-icon {
    background-color: #8e0e1e;
}

.center-horizontal {
    justify-content: center;
}

.center-vertical {
    align-items: center;
}
