main {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#start-menu {
    flex-direction: column;
    align-items: center;
}

#start-title {
    margin: 0;
    font-size: 1.75rem;
}

#start-subject {
    margin: 10% 0 50% 0;
    font-size: 1.5rem;
}

#start-button {
    width: 150px;
    height: 50px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
}

#quiz-menu {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#quiz-elements {
    position: absolute;
    top: 4%;
    right: 3%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz-counter {
    font-size: 1.2rem;
}

.fact-header {
    color: #8e0e1e;
}

#quiz-info {
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    clip-path: ellipse(50% 50%);
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #8e0e1e;
}

#quiz-question {
    font-size: 1.6rem;
    margin: 5% auto 2% auto;
}

#flag-image {
    background-color: #434343;
    object-fit: cover;
    margin: 2% auto 5% auto;
    height: 30%;
}

.question-button {
    width: 175px;
    height: 50px;
    border: solid 3px #8e0e1e;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    color:#fff;
    transition: background-color .4s;
    font-size: 1.2rem;
    background-color: #8e0e1e;
}

.question-button:hover {
    background-color: #d01b30;
}

.question-button-selected {
    background-color:#8e0e1e;
}

.hint-button {
    width: 150px;
    height: 50px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
    margin: 3% auto 5% auto;
    background-color: #8e0e1e;
}

.hint-button:hover {
background-color: #d01b30;
}

.quiz-next-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
}

#overlay-content {
    padding: 32px;
    width: 300px;
    background-color: #fff;
    flex-direction: column;
    /* height: 360px; */
}

.quiz-display {
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.quiz-filler {
    margin-top: auto;
}

.flex-display {
    display: flex;
}

.info-header {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5% auto 5% auto;
}

.fact-header {
    font-size: 1.0rem;
    margin: 6% 0 0 0;
}

.info-text {
    color: #000;
    font-size: 1.0rem;
}

.next-button {
    width: 150px;
    height: 50px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
    margin: 18% auto 5% auto;
    background-color: #8e0e1e;
}

.next-button:hover {
    background-color: #d01b30;
}

.okay-button {
    width: 150px;
    height: 50px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
    margin: 5% auto 5% auto;
    background-color: #8e0e1e;
}

.okay-button:hover {
    background-color: #d01b30;
}

#score-text {
    margin: 2% auto 20% auto;
}

#summary-button-wrapper {
    flex-direction: row;
    justify-content: center;
}

#summary-menu > div {
    display: flex;
    flex-direction: column;
}

.summary-button {
    width: 150px;
    height: 50px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
}

.end-button-margin {
    margin: 5% 5% 5% 5%;
}

.hide {
    display: none;
}
#start-subject {
    color: #8e0e1e
}
#start-button {
    background-color:#8e0e1e;
}

#start-button:hover {
    transition: 1s;
    background-color: #d01b30;
}
.geography-bg {
    background-color: #8e0e1e;
}

.geography-bg a {
    background-color: #8e0e1e;
}